./mysql_data
./frontend/node_modules

# Node.js
./frontend/node_modules/
./frontend/npm-debug.log*
./frontend/yarn-debug.log*
./frontend/yarn-error.log*
./frontend/pnpm-debug.log*

# Vite build
./frontend/dist/
./frontend/.vite/